
/* Your CSS Code here. */

.moviePic{
    height:100px;
    width:100px;
    opacity: 0.5;
    position: relative;
}

.movieDetail{
    text-align: center;
    font-size: 1.5rem;
    top: 50vh;
    width: 50vh;
}